<h3>{{viewTitle}}</h3>

<form action="/masjid" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{masjid._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{masjid.fullName}}">
        <div class="text-danger">
            {{masjid.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{masjid.email}}">
        <div class="text-danger">
            {{masjid.emailError}}</div>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" name="address" placeholder="Address" value="{{masjid.address}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="City" value="{{masjid.city}}">
        </div>
        <div class="form-group col-md-6">
            <label>PinCode</label>
            <input type="text" class="form-control" name="pincode" placeholder="Pin Code" value="{{masjid.pincode}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Contact Person</label>
            <input type="text" class="form-control" name="contactperson" placeholder="Contact Person" value="{{masjid.contactperson}}">
        </div>
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile Number" value="{{masjid.mobile}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/masjid/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>